body {
    background-color: white;
    color: #222;
    font-family: Georgia, Times, serif;
    line-height: 110%;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 5px;
    padding: 0;
}
h1 {
    font-size: 2.2em;
}
#main h2, .content h2 {
    border-bottom: solid 1px black;
    font-size: 1.7em;
    line-height: 130%;
}
.content h2 {
    margin: 32px 5px 8px 5px;
}
#main h3, .content h3 {
    font-size: 1.5em;
    line-height: 120%;
}
.content h3 {
    margin: 18px 5px 8px 5px;
    border-bottom: solid 1px #CCC;
}
strong, em {
    font-size: 1.1em;
}
a img {
    border: 0;
}
blockquote {
    font-style: italic;
    font-size: larger;
    line-height: 1.2;
    color: #435;
    margin: 0 75px;
}
blockquote .attrib {
    display: block;
    text-align: right;
    font-style: normal;
    font-variant: small-caps;
}
blockquote code, p code, li code {
    color: #936;
    font-style: normal;
    background-color: #FFFEF9;
    padding: 2px;
    line-height: 170%;
    font-size: 12pt;
}
blockquote code {
    padding: 5px;
    font-size: .9em;
}
.example {
    border: solid 1px #C9B;
    background-color: #FFF5F9;
    padding: 3px;
    margin: 5px 40px 5px 22px;
}
table {
    padding: 5px 20px;
}
table td {
    padding-right: 8px;
}
pre {
    background-color: #FFFEF9;
    color: #936;
    padding: 5px;
    margin: 0px;
    line-height: 170%;
}
#navigate {
    background: url(i/poignant.guide.red.png);
    color: white;
    float: left;
    margin-right: 50px;
    padding: 4px;
    width: 360px;
}
#navigate a,
#navigate a:link,
#navigate a:visited,
#navigate a:active {
    color: #FCC;
}
#navigate a:hover {
    color: #FFC;
}
#navigate h3 {
    margin-top: 40px;
}
.toc {
    padding-left: 30px;
}
.toc ul {
    margin: 0px;
    padding: 0px;
}
.toc li {
    font-size: .8em;
    line-height: 140%;
}
.content li {
    line-height: 170%;
    padding: 10px 4px;
}
.content p {
    line-height: 170%;
}
#main {
    padding: 10px;
}
#main li {
    font-size: 1.2em;
}
#main li ul li {
    color: #666;
    font-size: .8em;
    list-style: none;
}
p {
    margin: 0px 40px 0px 0px;
    line-height: 20px;
    padding: 10px;
}
p#terms {
    font-size: .8em;
    line-height: 140%;
}
.sidebar {
    color: #334465;
    background-color: #E6EDF3;
    border: solid 1px black;
    width: 280px;
    float: right;
    margin: 10px;
    padding: 0px;
    z-index: 3;
}
.sidebar ul {
    margin-top: 0px;
}
.sidebar li {
    font-size: .9em;
    line-height: 120%;
    padding: 10px 4px;
}
.sidebar h1 {
    background-color: #6383AB;
    color: #EFF9ED;
    text-align: center;
    font-size: .6em;
    padding: 5px;
}
.sidebar h2 {
    font-size: 1.2em;
    border-bottom: solid 1px #334465;
    margin-top: 5px;
}
.sidebar p {
    font-size: .9em;
    margin: 0px 0px 0px 0px;
    padding: 10px;
}
.sidebar blockquote {
    background-color: #FFFFFF;
    color: #666666;
    font-size: .8em;
    width: auto;
    margin: 0px 14px;
}
.sidebar pre {
    border: none;
    background-color: #E6EDF3;
    color: #334465;
    font-weight: normal;
    font-size: .9em;
    margin: 0px;
    padding: 0px;
    line-height: 120%;
}
a.pagebar,
a.pagebar:link,
a.pagebar:visited,
a.pagebar:active {
    color: #FCC;
}
a.pagebar:hover {
    color: #FFC;
}
a.darkbar,
a.darkbar:link,
a.darkbar:visited,
a.darkbar:active {
    color: #633;
}
a.darkbar:hover {
    color: #663;
}
.bulletin {
    background-color: #EEE;
    color: #555;
    padding: 5px;
    font-size: .7em;
}

#banner {
    color: white;
    background-color: #BB5F74;
    border-bottom: dashed 2px #FFF;
    padding: 12px;
    margin: 0;
    width: 100%;
}
#banner .hilite {
    color: #DDCCCC;
}
#banner .pager {
    float: right;
    padding-right: 15px;
}
.page {
    display: block;
    padding: 12px;
    width: 800px;
    margin: 0px auto;
    text-align: center;
}
.content {
    text-align: left;
}
.pageTitle {
    line-height: 200%;
    width: 600px;
    margin: 0px auto;
    text-align: center;
}
.pageTitle p {
    margin: 0px;
    line-height: 20px;
    padding: 10px;
}
#footer {
    background-color: #DDDDDD;
    border-top: dashed 2px #AAA;
    padding: 12px;
    width: 100%;
}
#footer h3 {
    color: #666666;
}
#footer .hilite {
    color: #AA8888;
}
#footer .pager {
    float: right;
    padding-right: 15px;
}

#pakbanner {
    color: white;
    background-color: black;
    border-bottom: dashed 2px #FFF;
    padding: 12px;
    margin: 0;
    width: 100%;
}
#pakbanner .hilite {
    color: #CCCCDD;
}
#pakbanner .pager {
    float: right;
    padding-right: 15px;
}

/* printing */
@page { size 8.5in 11in; margin: 0cm; }

/* syntax highlighting */
.keyword {
    font-weight: bold;
}
.comment {
    color: #555;
}
.string, .number {
    color: #396;
}
.string {
    background-color: #E9F5F5;
}
.regex {
    background-color: #E9F1F5;
    color: #435;
}
.ident {
    color: #369;
}
.symbol {
    color: #000;
}
.constant, .class {
    color: #630;
    font-weight: bold;
}
